
<link rel="stylesheet" href="/../../../../styles/index.css"/>

<div id="main-content">

      <form method="POST" action="/search">
        Vehicle:
        <input type="text" name="Name">

  Year:<input type="text" name="Year">
        Origin:
        <input type="text" name="Origin">
        <input type="submit" value="Submit">

      </form>

</div>
<div id="content-container">

{{#each cars}}
<div class="box">
  <h3 id="Name">{{name}}</h3>
   <p id="Miles_per_Gallon">Miles_per_Gallon:{{miles_per_Gallon}}</p>
     <p id="Cylinders">Cylinders:{{cylinders}}</p>
       <p id="Displacement">Displacement:{{displacement}}</p>
              <p id="Horsepower">Horsepower:{{horsepower}}</p>
               <p id="Weight_in_lbs">Weight_in_lbs:{{weight_in_lbs}}</p>
               <p id="Acceleration">Acceleration:{{acceleration}}</p>
               <p id="Year">Year:{{year}}</p>
               <p id="Origin">Origin:{{origin}}</p>


             <div class="bottom">
                <img src="https://images.unsplash.com/photo-1449130015084-2d48a345ae62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" id="boximg2" alt="car">
                <a href="#" id="url2">
                  <br>
                <button>buy now</button>
                </a>
</div>

</div>
{{/each}}




</div>
